
* {
	margin: 0;
	padding: 0;
}
.box {
	width: 400px;
	height: 200px;
	background-color: #eee;
	border: 1px solid red;
	margin: 0 auto;
}





























